@using Professional_Gift_Card_System.Models
@model AddPriceModel

@{
    ViewBag.Title = "Add Pricing";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


    <h2>AddPricing</h2>

    @using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "Please correct the errors and try again", new { @class = "text-danger" } )

        <fieldset>
            <legend>Fields</legend>
            <table>
            
            <tr>
            <td>
            <div class="editor-label">
                @Html.LabelFor(model => model.PricingName)
            </div>
            </td>
            <td>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.PricingName)
                @Html.ValidationMessageFor(model => model.PricingName)
            </div>
            </td>
            </tr>
            
            <tr>
            <td>
            <div class="editor-label">
                @Html.LabelFor(model => model.CardPrice)
            </div>
            </td>
            <td>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.CardPrice)
                @Html.ValidationMessageFor(model => model.CardPrice)
            </div>
            </td>
            </tr>
            
            <tr>
            <td>
            <div class="editor-label">
                @Html.LabelFor(model => model.TransactionPrice)
            </div>
            </td>
            <td>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.TransactionPrice)
                @Html.ValidationMessageFor(model => model.TransactionPrice)
            </div>
            </td>
            </tr>
            
            <tr>
            <td>
            <div class="editor-label">
                @Html.LabelFor(model => model.SupportTransactionPrice)
            </div>
            </td>
            <td>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.SupportTransactionPrice)
                @Html.ValidationMessageFor(model => model.SupportTransactionPrice)
            </div>
            </td>
            </tr>
            
            <tr>
            <td>
            <div class="editor-label">
                @Html.LabelFor(model => model.DialupTransactionPrice)
            </div>
            </td>
            <td>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.DialupTransactionPrice)
                @Html.ValidationMessageFor(model => model.DialupTransactionPrice)
            </div>
            </td>
            </tr>
            

           
            <tr>
            <td>
            <div class="editor-label">
                @Html.LabelFor(model => model.GiftMonthlyFee)
            </div>
            </td>
            <td>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.GiftMonthlyFee)
                @Html.ValidationMessageFor(model => model.GiftMonthlyFee)
            </div>
            </td>
            </tr>
            
            <tr>
            <td>
            <div class="editor-label">
                @Html.LabelFor(model => model.LoyaltyMonthlyFee)
            </div>
            </td>
            <td>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.LoyaltyMonthlyFee)
                @Html.ValidationMessageFor(model => model.LoyaltyMonthlyFee)
            </div>
            </td>
            </tr>
                        
            <tr>
            <td>
            <div class="editor-label">
                @Html.LabelFor(model => model.CardholderMonthlyFee)
            </div>
            </td>
            <td>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.CardholderMonthlyFee)
                @Html.ValidationMessageFor(model => model.CardholderMonthlyFee)
            </div>
            </td>
            </tr>
            
            <tr>
            <td>
            <div class="editor-label">
                @Html.LabelFor(model => model.CardHolderPercentageCharge)
            </div>
            </td>
            <td>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.CardHolderPercentageCharge)
                @Html.ValidationMessageFor(model => model.CardHolderPercentageCharge)
            </div>
            </td>
            </tr>
            
            <tr>
            <td>
            <div class="editor-label">
                @Html.LabelFor(model => model.AfterXMonths)
            </div>
            </td>
            <td>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.AfterXMonths)
                @Html.ValidationMessageFor(model => model.AfterXMonths)
            </div>
            </td>
            </tr>
            </table>
            
            <p>
                <input type="submit" value="Create" />
            </p>
        </fieldset>

     } 

    <div>
        @Html.ActionLink("Back to Main Page", "Index")
    </div>




