@using Professional_Gift_Card_System.Models
@model WebLookupCard

@{
    ViewBag.Title = "Card History";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



    <h2>Card History</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "Add was unsuccessful. Please correct the errors and try again.")

    <fieldset>
        <legend>Fields</legend>
        
        <div class="display-label">Type the Card number for which to get the history</div>
        <div class="editor-field">
                @Html.TextBoxFor(m => m.CardNumber)
                @Html.ValidationMessageFor(m => m.CardNumber)
        </div>
        
        
    </fieldset>
    <p>
    <input type="submit" value="Look Up History" />
    </p>
     } 

    <br />
    @Html.ActionLink("Back to Main Page", "Back")




