@using Professional_Gift_Card_System.Models
@model MerchantModel



@{
    ViewBag.Title = "Edit Merchant";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


    <h2>Edit Merchant Information</h2>

    @using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "Please correct the errors and try again", new { @class = "text-danger" } )
        
        <fieldset>
            <legend>Fields</legend>
            
                @Html.HiddenFor(model => model.ID)
        <table>
            
        <tr>
        <td>
            <div class="editor-label">
                @Html.LabelFor(model => model.MerchantID)
            </div>
        </td>
        <td>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.MerchantID)
            </div>
        </td>
        <td>
            <div class="editor-field">
                @Html.ValidationMessageFor(model => model.MerchantID)
            </div>
        </td>
        </tr>
            
        <tr>
        <td>
           <div class="editor-label">
                @Html.LabelFor(model => model.MerchantName)
            </div>
        </td>
        <td>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.MerchantName)
            </div>
        </td>
        <td>
            <div class="editor-field">
                @Html.ValidationMessageFor(model => model.MerchantName)
            </div>
        </td>
        </tr>
            
        <tr>
        <td>
            <div class="editor-label">
                @Html.LabelFor(model => model.Address1)
            </div>
        </td>
        <td>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.Address1)
            </div>
        </td>
        <td>
            <div class="editor-field">
                @Html.ValidationMessageFor(model => model.Address1)
            </div>
        </td>
        </tr>
            
        <tr>
        <td>
            <div class="editor-label">
                @Html.LabelFor(model => model.Address2)
            </div>
        </td>
        <td>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.Address2)
            </div>
        </td>
        <td>
            <div class="editor-field">
                @Html.ValidationMessageFor(model => model.Address2)
            </div>
        </td>
        </tr>
            
        <tr>
        <td>
            <div class="editor-label">
                @Html.LabelFor(model => model.City)
            </div>
        </td>
        <td>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.City)
            </div>
        </td>
        <td>
            <div class="editor-field">
                @Html.ValidationMessageFor(model => model.City)
            </div>
        </td>
        </tr>
            
        <tr>
        <td>
            <div class="editor-label">
                @Html.LabelFor(model => model.State)
            </div>
        </td>
        <td>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.State)
            </div>
        </td>
        <td>
            <div class="editor-field">
                @Html.ValidationMessageFor(model => model.State)
            </div>
        </td>
        </tr>
            
        <tr>
        <td>
            <div class="editor-label">
                @Html.LabelFor(model => model.Country)
            </div>
        </td>
        <td>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.Country)
            </div>
        </td>
        <td>
            <div class="editor-field">
                @Html.ValidationMessageFor(model => model.Country)
            </div>
        </td>
        </tr>
            
        <tr>
        <td>
            <div class="editor-label">
                @Html.LabelFor(model => model.PostalCode)
            </div>
        </td>
        <td>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.PostalCode)
            </div>
        </td>
        <td>
            <div class="editor-field">
                @Html.ValidationMessageFor(model => model.PostalCode)
            </div>
        </td>
        </tr>
            
        <tr>
        <td>
            <div class="editor-label">
                @Html.LabelFor(model => model.Phone)
            </div>
        </td>
        <td>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.Phone)
            </div>
        </td>
        <td>
            <div class="editor-field">
                @Html.ValidationMessageFor(model => model.Phone)
            </div>
        </td>
        </tr>
            
        <tr>
        <td>
            <div class="editor-label">
                @Html.LabelFor(model => model.EMail)
            </div>
        </td>
        <td>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.EMail)
            </div>
        </td>
        <td>
            <div class="editor-field">
                @Html.ValidationMessageFor(model => model.EMail)
            </div>
        </td>
        </tr>
            
        <tr>
        <td>
            <div class="editor-label">
                @Html.LabelFor(model => model.TaxID)
            </div>
        </td>
        <td>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.TaxID)
            </div>
        </td>
        <td>
            <div class="editor-field">
                @Html.ValidationMessageFor(model => model.TaxID)
            </div>
        </td>
        </tr>
            
        <tr>
        <td>
            <div class="editor-label">
                @Html.LabelFor(model => model.ContactPerson)
            </div>
        </td>
        <td>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.ContactPerson)
            </div>
        </td>
        <td>
            <div class="editor-field">
                @Html.ValidationMessageFor(model => model.ContactPerson)
            </div>
        </td>
        </tr>
            
        <tr>
        <td>
            <div class="editor-label">
                @Html.LabelFor(model => model.ContactPhone)
            </div>
        </td>
        <td>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.ContactPhone)
            </div>
        </td>
        <td>
            <div class="editor-field">
                @Html.ValidationMessageFor(model => model.ContactPhone)
            </div>
        </td>
        </tr>
            
        <tr>
        <td>
            <div class="editor-label">
                @Html.LabelFor(model => model.TimeZone)
            </div>
        </td>
        <td>
            <div class="editor-field">
                @(Html.DropDownListFor(model => model.TimeZone, new SelectList(new[] { 
                    "Eastern Standard Time", "Central Standard Time", "Mountain Standard Time", "Pacific Standard Time","Alaskan Standard Time","Hawaiian Standard Time" }, Model.TimeZone)))
            </div>
        </td>
        <td>
            <div class="editor-field">
                @Html.ValidationMessageFor(model => model.TimeZone)
            </div>
        </td>
        </tr>
            
            <tr>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.CloseTime)
                    </div>
                </td>
                <td>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.CloseTime) (HH:MM 24 hr time)
                        @Html.ValidationMessageFor(model => model.CloseTime)
                    </div>
                </td>
            </tr>


            

        <tr>
        <td>
            <div class="editor-label">
                @Html.LabelFor(model => model.GiftActive)
            </div>
        </td>
        <td>
            <div class="editor-field">
                @Html.DropDownList("GiftActive", new SelectList(new[] { "Yes", "No" }))
            </div>
        </td>
        <td>
            <div class="editor-field">
                @Html.ValidationMessageFor(model => model.GiftActive)
            </div>
        </td>
        </tr>

            <tr>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.AllowSplitTender)
                    </div>
                </td>
                <td>
                    <div class="editor-field">
                        @Html.DropDownList("AllowSplitTender", new SelectList(new[] { "Yes", "No" }))

                    </div>
                </td>
            </tr>

            

        <tr>
        <td>
            <div class="editor-label">
                @Html.LabelFor(model => model.MerchantBillingCycle)
            </div>
        </td>
        <td>
            <div class="editor-field">
                @Html.DropDownList("MerchantBillingCycle", new SelectList(new[] { "Monthly", "Quarterly", "Yearly" }))
            </div>
        </td>
        <td>
            <div class="editor-field">
                @Html.ValidationMessageFor(model => model.MerchantBillingCycle)
            </div>
        </td>
        </tr>

        <tr>
        <td>
            <div class="editor-label">
                @Html.LabelFor(model => model.LastBillingDate)
            </div>
        </td>
        <td>
            <div class="editor-field">
                @Html.DisplayTextFor(model => model.LastBillingDate)
            </div>
        </td>
        <td>
            <div class="editor-field">
                @Html.ValidationMessageFor(model => model.LastBillingDate)
            </div>
        </td>
        </tr>
            
        <tr>
        <td>
            <div class="editor-label">
                @Html.LabelFor(model => model.PaidToDate)
            </div>
        </td>
        <td>
            <div class="editor-field">
                @Html.DisplayTextFor(model => model.PaidToDate)
            </div>
        </td>
        <td>
            <div class="editor-field">
                @Html.ValidationMessageFor(model => model.PaidToDate)
            </div>
        </td>
        </tr>
            
            <tr>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.RestaurantRetail)
                    </div>
                </td>
                <td>
                    <div class="editor-field">
                        @Html.DropDownList("RestaurantRetail", new SelectList(new[] { "Retail", "Restaurant" }))
                    </div>
                </td>
                <td>
                    <div class="editor-field">
                        @Html.ValidationMessageFor(model => model.RestaurantRetail)
                    </div>
                </td>
            </tr>

        <tr>
        <td>
            <div class="editor-label">
                @Html.LabelFor(model => model.AskForClerkServer)
            </div>
        </td>
        <td>
            <div class="editor-field">
                @Html.DropDownListFor(model => model.AskForClerkServer, new SelectList(new[] { "Yes", "No" },Model.AskForClerkServer))
            </div>
        </td>
        <td>
            <div class="editor-field">
                @Html.ValidationMessageFor(model => model.AskForClerkServer)
            </div>
        </td>
        </tr>
                        
        <tr>
        <td>
            <div class="editor-label">
                @Html.LabelFor(model => model.ShippingAddressLine1)
            </div>
        </td>
        <td>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.ShippingAddressLine1)
            </div>
        </td>
        <td>
            <div class="editor-field">
                @Html.ValidationMessageFor(model => model.ShippingAddressLine1)
            </div>
        </td>
        </tr>
            
        <tr>
        <td>
            <div class="editor-label">
                @Html.LabelFor(model => model.ShippingAddressLine2)
            </div>
        </td>
        <td>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.ShippingAddressLine2)
            </div>
        </td>
        <td>
            <div class="editor-field">
                @Html.ValidationMessageFor(model => model.ShippingAddressLine2)
            </div>
        </td>
        </tr>
            
        <tr>
        <td>
            <div class="editor-label">
                @Html.LabelFor(model => model.ShippingAddressLine3)
            </div>
        </td>
        <td>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.ShippingAddressLine3)
            </div>
        </td>
        <td>
            <div class="editor-field">
                @Html.ValidationMessageFor(model => model.ShippingAddressLine3)
            </div>
        </td>
        </tr>
            
        <tr>
        <td>
            <div class="editor-label">
                @Html.LabelFor(model => model.ShippingAddressLine4)
            </div>
        </td>
        <td>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.ShippingAddressLine4)
            </div>
        </td>
        <td>
            <div class="editor-field">
                @Html.ValidationMessageFor(model => model.ShippingAddressLine4)
            </div>
        </td>
        </tr>
            
        <tr>
        <td>
            <div class="editor-label">
                @Html.LabelFor(model => model.ReceiptHeaderLine1)
            </div>
        </td>
        <td>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.ReceiptHeaderLine1)
            </div>
        </td>
        <td>
            <div class="editor-field">
                @Html.ValidationMessageFor(model => model.ReceiptHeaderLine1)
            </div>
        </td>
        </tr>
            
        <tr>
        <td>
            <div class="editor-label">
                @Html.LabelFor(model => model.ReceiptHeaderLine2)
            </div>
        </td>
        <td>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.ReceiptHeaderLine2)
            </div>
        </td>
        <td>
            <div class="editor-field">
                @Html.ValidationMessageFor(model => model.ReceiptHeaderLine2)
            </div>
        </td>
        </tr>
            
        <tr>
        <td>
            <div class="editor-label">
                @Html.LabelFor(model => model.ReceiptHeaderLine3)
            </div>
        </td>
        <td>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.ReceiptHeaderLine3)
            </div>
        </td>
        <td>
            <div class="editor-field">
                @Html.ValidationMessageFor(model => model.ReceiptHeaderLine3)
            </div>
        </td>
        </tr>
            
        <tr>
        <td>
            <div class="editor-label">
                @Html.LabelFor(model => model.ReceiptHeaderLine4)
            </div>
        </td>
        <td>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.ReceiptHeaderLine4)
            </div>
        </td>
        <td>
            <div class="editor-field">
                @Html.ValidationMessageFor(model => model.ReceiptHeaderLine4)
            </div>
        </td>
        </tr>
            
        <tr>
        <td>
            <div class="editor-label">
                @Html.LabelFor(model => model.ReceiptHeaderLine5)
            </div>
        </td>
        <td>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.ReceiptHeaderLine5)
            </div>
        </td>
        <td>
            <div class="editor-field">
                @Html.ValidationMessageFor(model => model.ReceiptHeaderLine5)
            </div>
        </td>
        </tr>
            
        <tr>
        <td>
            <div class="editor-label">
                @Html.LabelFor(model => model.ReceiptFooterLine1)
            </div>
        </td>
        <td>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.ReceiptFooterLine1)
            </div>
        </td>
        <td>
            <div class="editor-field">
                @Html.ValidationMessageFor(model => model.ReceiptFooterLine1)
            </div>
        </td>
        </tr>
            
        <tr>
        <td>
            <div class="editor-label">
                @Html.LabelFor(model => model.ReceiptFooterLine2)
            </div>
        </td>
        <td>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.ReceiptFooterLine2)
            </div>
        </td>
        <td>
            <div class="editor-field">
                @Html.ValidationMessageFor(model => model.ReceiptFooterLine2)
            </div>
        </td>
        </tr>
        </table>
            
            <p>
                <input type="submit" value="Save" />
            </p>
        </fieldset>

     } 

    <div>
        @Html.ActionLink("Back to List", "SelectMerchantForEdit")
    </div>




